:root {
  --grey: #4d4f53;
  --light-grey: #c7c4c4;
  --blue: #027c92;
}

html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

main {
  padding-top: 100px;
}

.row {
  margin-bottom: 20px;
}

.box {
  text-align: center;
  height: auto;
}

.header-text {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  border-top: 1px solid var(--light-grey);
  padding-top: 20px;
}

.map {
  height: 68px;
  width: 88px;
  background-color: var(--grey);
  color: white;
}

.text-box {
  color: var(--grey);
  text-align: left;
  padding-left: 20px;
}

address {
  font-size: 15px;
  line-height: 17px;
  font-style: normal;
}

.regular-text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.semi-bold {
  margin-top: 8px;
  font-weight: 600;
  font-size: 15px;
}

.semi-bold-large {
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  margin: 8px 0;
}

.link {
  color: var(--blue);
  font-size: 15px;
  display: block;
}

.regular-text.semi-bold.margin {
  margin: 5px 0 0;
}

.hours-container {
  margin-bottom: 5px;
}

/* Non-mobile, grid */
@media only screen and (min-width: 641px) {
  .text-box {
    padding-left: 0;
  }

  .header-text {
    display: flex;
    align-items: center;
    width: 72%;
    margin-bottom: 20px;
    font-size: 24px;
    border-top: none;
    padding-top: 0;
  }

  .header-text:after {
    content: "";
    flex: 1;
    margin-left: 8px;
    height: 1px;
    background-color: var(--light-grey);
  }

  .last-box {
    padding-left: 10px;
  }

  address {
    font-size: 18px;
    line-height: 25px;
  }

  .regular-text {
    font-size: 18px;
    line-height: 25px;
  }

  .semi-bold {
    font-size: 16px;
  }

  .semi-bold-large {
    font-size: 18px;
  }

  .link {
    font-size: 18px;
  }

  .map {
    height: 135px;
    width: 175px;
  }
}
